/* Create two equal columns that floats next to each other */

.instruction {
  float: left;
  background: #c8d3ce;
  //border-style: solid;
  width: 100%;
  overflow: scroll;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

*div.image {
   content:url(https://repositorytest.ancient-astronomy.org/PROM/ServicePROM/Images/PROM.jpg);


<!DOCTYPE html>
<html>
<head>
<link rel="projectinformation" href="projectinformation.css">
</head>
<body>
<h1>Dies ist eine Überschrift</h1>
<p>Dies ist ein Absatz</p>
</body>
</html>
<figure>Das ist ein Bild</figure>
<figcaption>Das ist eine Bildunterschrift</figcaption>

figure,
figcaption {
	margin: 0;
	padding: 0;
}

#gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	gap: 1em;
	text-align: center;
}

#gallery figure {
	position: relative;
	color: black;
	background: white;
}

figure img {
	width: 100%;
	display: block;
}

#gallery > figure > figcaption {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 3em;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}

#gallery > figcaption {
	grid-column: 1 / -1;
}
